@using WebApplication.Controllers.Order.Form
@model WebApplication.Controllers.Order.Model.CreateOrderModel
    
@{
    ViewBag.Title = "Создание заказа";
    Layout = "_Layout";
}

<h2>Просмотр заказа</h2>
<form asp-action="Create" asp-controller="Order" method="post">

    <div class="form-group">
        <label>Номер заказа</label>
        <input asp-for="Form.Number" type="text" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Провайдер</label>
        <select asp-for="Form.ProviderId" asp-items="Model.Providers" class="form-control" required></select>
    </div>
    
    @Html.Partial("OrderItems", new Item[0])
    
    <br/>
    
    <input type="submit" asp-controller="Order"
           asp-action="Create"
           class="btn btn-success" value="Создать заказ"/>
    
</form>