@model WebApplication.Controllers.Order.Model.EditOrderModel
    
@{
    ViewBag.Title = "Изменение заказа";
    Layout = "_Layout";
}

<h2>Изменение заказа</h2>
<form asp-action="Edit" asp-controller="Order" method="post">

    @Html.HiddenFor(a => a.Form.Id)
    
    <div class="form-group">
        <label>Номер заказа</label>
        <input asp-for="Form.Number" type="text" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Дата</label>
        <input asp-for="Form.Date" type="datetime-local" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Провайдер</label>
        <select asp-for="Form.ProviderId" asp-items="Model.Providers" class="form-control" required></select>
    </div>
    
    @Html.Partial("OrderItems", Model.Form.Items)
    
    <br/>
    
    <input type="submit" class="btn btn-success" value="Изменить заказ"/>
    
</form>