@model WebApplication.Controllers.Order.Model.OrdersModel
    
@{
    ViewBag.Title = "Заказы";
    Layout = "_Layout";
}

<h2>Заказы</h2>

  <form method="post">
    <div class="bg-light">
      <h4 style="margin-top: 0">Фильтр</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          <label class="col-form-label">Номер заказа</label>
          <input type="text" asp-for="Filter.OrderNumber" class="form-control" placeholder="номер заказа" />
        </div>
        <div class="form-group col-sm-4 col-md-3">
          <label class="col-form-label">Дата создания заказа</label>
          <input type="date" asp-for="Filter.Date" class="form-control"/>
        </div>
        <div class="form-group col-sm-4 col-md-3">
          <label class="col-form-label">Провайдер</label>
          <select multiple="multiple"
                  asp-for="Filter.ProviderIds"
                  asp-items="Model.Providers"
                  class="form-control">
          </select>
        </div>
        <div class="form-group col-sm-4 col-md-3">
          <label class="col-form-label">Единица измерения позиции заказа</label>
          <select multiple="multiple"
                  asp-for="Filter.Units"
                  asp-items="Model.Units"
                  class="form-control">
          </select>
        </div>

        <div class="form-group col-sm-4 col-md-3">
          <label class="col-form-label">Название позиции заказа</label>
          <select multiple="multiple"
                  asp-for="Filter.OrderItemNames"
                  asp-items="Model.OrderItemNames"
                  class="form-control">
          </select>
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Искать
      </button>
    </div>
  </form>

<br/>

<a asp-action="Create" class="btn btn-success">Создать заказ</a>
<br/>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        @* <th scope="col">Идентификатор</th> *@
        <th scope="col">Номер заказа</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr onclick="document.location='@Url.Action("View", "Order", new { id = order.Id })';">
            @* <td>@order.Id</td> *@
            <td>@order.Number</td>
            <td>@order.Date.ToString("dd.MM.yyyy hh:mm:ss")</td>
        </tr>
    }
    </tbody>
</table>