@model WebApplication.Controllers.Order.Form.Item[]
<div class="form-group m-b-20">
    <a id="add-position" class="btn btn-default btn-info">Добавить позицию</a>
        <table id="positions" class="table table-condensed table-responsive table-hover text-center">
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="text" name="Form.Items[@index].Name" value="@item.Name" placeholder="Название позиции" required/>
                        <input type="number" name="Form.Items[@index].Quantity" value="@item.Quantity" placeholder="Количество" required/>
                        <input type="text" name="Form.Items[@index].Unit" value="@item.Unit" placeholder="Единица измерения" required/>
                        <a class="btn btn-danger btn-xs remove-position">удалить</a>
                    </td>
                </tr>
                index++;
            }
            <input hidden id="index" value="@index"/>
            </tbody>
        </table>
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    class Counter
    {
        constructor(count) {
            this.count = count;
        }
    
        get(){
            return this.count;
        }
    
        increment() {
            this.count = this.count + 1;
        }
    }
    function remove_position_bind(){
        
        let btn = $(".remove-position");
        btn.unbind();
        btn.on('click', function () {
            $(this).parent().parent().remove();
        });
    }

    
    $( document ).ready(function() {
        
        let index = parseInt($("#index").val());
        console.log("index:" + index);
        let counter = new Counter(index);
        console.log("counter:" + counter.get());
        
        $("#add-position").click(function () {

                const row = `<tr> 
                                  <td> 
                                      <input type="text" name="Form.Items[${counter.get()}].Name" value="" placeholder="Название позиции" required /> 
                                      <input type="number" name="Form.Items[${counter.get()}].Quantity" value="" placeholder="Количество" required/> 
                                      <input type="text" name="Form.Items[${counter.get()}].Unit" value="" placeholder="Единица измерения" required/>
                                      <a class="btn btn-danger btn-xs remove-position">удалить</a> 
                                  </td>
                              </tr> `;
                $('#positions > tbody:last').append(row);
                
                counter.increment();
        
                remove_position_bind();
                
            });
        
        remove_position_bind();

    });
</script>