@model DomainModel.Order
    
@{
    ViewBag.Title = "Просмотр заказа";
    Layout = "_Layout";
}

<h2>Просмотр заказа</h2>

<div class="form-group">
    <label>Идентификатор</label>
    <input type="text" class="form-control" value="@Model.Id" disabled />
</div>
<div class="form-group">
    <label>Номер заказа</label>
    <input type="text" class="form-control" value="@Model.Number" disabled />
</div>
<div class="form-group">
    <label>Дата</label>
    <input type="text" class="form-control" value="@Model.Date.ToString("dd.MM.yyyy hh:mm:ss")" disabled />
</div>
<div class="form-group">
    <label>Провайдер</label>
    <input type="text" class="form-control" value="@Model.Provider.Name" disabled />
</div>

<div class="form-group">

    <table class="table-bordered">
        <thead>
        <b>Позиции заказа</b>
        <th>Название позиции</th>
        <th>Количество</th>
        <th>Единица измерения</th>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
             {
                 <tr>
                     <td>@item.Name</td>
                     <td>@item.Quantity</td>
                     <td>@item.Unit</td>
                 </tr>
             }
        </tbody>
    </table>
</div>

<br/>
<a asp-controller="Order"
        asp-action="Edit"
        asp-route-id="@Model.Id" 
        class="btn btn-success">Редактировать заказ</a>

<form asp-action="Delete" asp-route-id="@Model.Id">
    <input type="submit" class="btn btn-danger" value="Удалить заказ" />
</form>